@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.game {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-color: rgb(255, 250, 245);
}

.game-title {
  font-size: 48px;
  font-weight: 700;
}

#play {
  margin-top: 16px;
  padding: 12px 32px;
  font-size: 16px;
  font-weight: bolder;
  background-color: rgb(25, 125, 225);
  color: white;
  border: 1px solid rgb(25, 125, 225);
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.25s, background-color 0.25s;
}

#play:hover {
  color: rgb(25, 125, 225);
  background-color: rgb(255, 250, 245);
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.actions-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 500;
}

.clickable {
  padding: 12px 32px;
  font-size: 16px;
  font-weight: bolder;
  background-color: rgb(25, 125, 225);
  color: white;
  border: 1px solid rgb(25, 125, 225);
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.25s, background-color 0.25s;
}

.clickable:hover {
  color: rgb(25, 125, 225);
  background-color: rgb(255, 250, 245);
}

.score-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.score-board-title {
  margin: 4px 0;
  font-size: 32px;
  font-weight: 500;
}

.score {
  font-size: 16px;
  font-weight: lighter;
}

.score-indicator {
  font-weight: 500;
}
